<!-- directory.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Conteúdo do Diretório: {{ folder_name }}</title>
</head>
<body>
    <h1>Conteúdo do Diretório: {{ folder_name }}</h1>
    <ul>
        {% for file in files %}
            <li>
                {% if is_directory(folder_name + '/' + file) %}
                    <a href="{{ folder_name }}/{{ file }}">{{ file }}/</a>
                {% else %}
                    <a href="{{ folder_name }}/{{ file }}">{{ file }}</a>
                    <a href="{{ url_for('download_file', filename=folder_name + '/' + file) }}"><button>Baixar</button></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
